:root {
  --toolbar-height: 30px;
  --content-padding: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  color: white;
  font-family: Arial;
  user-select: none;
}

*:focus {
  outline: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

#toolbar {
  float: left;
  width: 100%;
  height: var(--toolbar-height);
  background-color: #424242;

  button {
    float: left;
    width: var(--toolbar-height);
    height: 100%;
    padding: 0;
    border: none;
    background-color: transparent;

    &.right {
      float: right;
    }

    &.active {
      background-color: #212121;
    }

    span {
      font-size: max(16px, calc(var(--toolbar-height) - 10px));
      line-height: var(--toolbar-height);
    }

    &:not(:disabled):not(.nohover) {
      cursor: pointer;

      &:hover {
        background-color: #757575;
      }

      &:active {
        background-color: #616161;
      }
    }
  }

  .sep {
    float: left;
    width: 1px;
    height: 100%;
    background-color: white;

    &.right {
      float: right;
    }
  }
}

#content {
  float: left;
  width: 100%;
  height: calc(100% - var(--toolbar-height));
  padding: var(--content-padding);
  background-color: #212121;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px; */
}

.list {
  --header-height: 30px;

  & .header {
    width: 100%;
    height: var(--header-height);
    background-color: #424242;
  }

  & .items {
    width: 100%;
    background-color: #616161;

    & * {
      width: 100%;
    }
  }
}

.card {
  --height: 100px;
  --title-height: 26px;
  --title-font-size: 18px;
  height: var(--height);

  & .title {
    width: 100%;
    height: var(--title-height);
    padding: calc((var(--title-height) - var(--title-font-size)) / 2);
    background-color: #424242;
    font-size: var(--title-font-size);
    line-height: var(--title-font-size);
  }

  & .content {
    width: 100%;
    height: calc(100% - var(--title-height));
    background-color: #616161;
  }
}

#view-list,
#view-grid {
  width: 100%;
}
